@import 'src/styles/vars';

.main-zone-secondary-div{
    .cpt-product-information{
        display: flex;
        padding-bottom: $gutter;
        .tabs{
            .tablist{
                color:$dark-color;
                font-weight: bold;
                width: 100%;
            }
            .tabpanel{
                margin: $gutter;
                color:$dark-color;
                .reviews-body{
                    .reviews-list{
                        padding: $gutter/2;
                     .row{
                         padding-bottom: $gutter;
                         display: flex;
                        .client-col{
                            display: block;
                            width: 120px;
                            padding-right: $gutter;
                            .client-name{
                            font-weight: bold;
                            
                        }
                        .client-rate{
                            padding-top: $gutter/3;
                        }

                        }

                        }
                    }

                }

                .title{
                    padding: $gutter/2;
                    font-weight: bold;
                
            }
                 
             
            }
        }
       

        }

        }

   @media only screen and (max-width: 768px) {

    .main-zone-secondary-div{
        .cpt-product-information{
            display: block;  
            .tabs{
                .tablist{
                    color:$dark-color;
                    font-weight: bold;
                    padding: 0rem;
                    padding-top: 1rem;
                    width: 100%;
                }
                .tabpanel{
                    color:$dark-color;
                    margin:0rem;
    
                 .title{
                     padding-left: 0rem;
                     padding-top: $gutter;
                     font-weight: bold;
                     
                 }
                }
            }
           
    
            }
    
            }
}


@media only screen and (max-width: 320px) {

    .main-zone-secondary-div{
        .cpt-product-information{
            margin-top: $gutter;
            display: block;
            padding-top: 0rem;
    
            .tabs{
                .tablist{
                    color:$dark-color;
                    font-weight: bold;
                    padding: 0rem;
                    padding-top: 1rem;
                    width: 100%;
                }
                .tabpanel{
                    color:$dark-color;
                    margin:0rem;
    
                 .title{
                     padding-left: 0rem;
                     padding-top: $gutter;
                     font-weight: bold;
                     
                 }
                }
            }
           
    
            }
    
            }
}
    
