@import 'src/styles/vars';

.main-zone-secondary-div{ 

    display: flex;
 
    .top-left-col{

        width: 547px;
        height: 326px;

        .activity-baseline{
           padding: 12px;
            font-family: 'Open Sans', Arial, sans-serif;
            font-size: 25px;
            font-weight: $title-font-weight;
            color: $dark-color;
        }

        .carousel-image{
            width: 547px;
            height: 300px;

            img{
                width: 100%;
                height: 100%;
            }
        }

        .carousel{

            .thumbs-wrapper .axis-vertical{
                .thumbs .animated{

                    .thumb {
                        width: 70px;
                        height: 46.703px;
                    }
                }
            }
        }

    }

    .top-right-col{

        padding-top: 2*$gutter;
        padding-left: 2*$gutter;
        color:$dark-color;
        font-size: 18px;
        margin-left: $gutter;
        font-weight: 400;

        .mains-infos-zone {
            
            .activity-infos-details{
                margin-bottom: $gutter;

                .ui-star-rating{
                    margin-bottom: $gutter/2;

                }

                .activity-price{
                    font-family: 'Open Sans', Arial, sans-serif;
                    margin-bottom: $gutter/2;
                    align-items: center;
                    display: flex;
                    

                 .activity-price-prefix{
                    display: block;
                    font-size: 16px;
                    line-height: 1.428571429;
                    

                 }

            
                 .activity-prices{
                    display: flex;
                    .activity-price-amount{
                        color: #ffae3b;
                        font-size: 24px;
                        line-height: 24px;
                        display: block;
                        white-space: nowrap;
                        padding-left: 10px;

                    }

                  .activity-price-based-on-nb-person{
                    font-size: 14px;
                    margin-top: 5px;
                    margin-left: 8px;
                    display: block;

                  }
                 }

                }

                .activity-type{
                    margin-bottom: $gutter/2;
                    
                            .type{
                                font-weight: bold;
                                
                                    }
                                }

        .activity-location{
            margin-bottom: $gutter/2;

                    .location{
                        font-weight: bold;        
                            }
                    a {
                        color: #ffae3b;
                        font-weight: lighter;
                        cursor: pointer;
                        font-size: 14px;
                        &:hover {
                            text-decoration: underline;
           }
        
                            }
                        }
                   
                
            .activity-duration{

                margin-bottom: $gutter/2;
                .duration{
                    font-weight: bold;
                }

            }

            .activity-technical-level {

                margin-bottom: $gutter;
                .level{
                    font-weight: bolder;
                }

            }

            .activity-date {

                margin-bottom: $gutter/2;

                .date{
                    font-weight: bolder;
                }
               

            }

            .button{

                font-size: 16px;
                padding: 10px 10px;
                text-transform: none;
                background: #ffae3b;
                border: solid 1px #cfcfcf;
                border-color: #ffae3b;
                color: white;
                width: 100%;
                white-space: normal;
                font-family: 'Open Sans', Arial, sans-serif;
                font-weight: bold;
               
            }
            }
        }
        
    }
    
}

@media only screen and (max-width: 1000px) {

    .main-zone-secondary-div{ 

        display: inline-block;
        margin: 0rem auto;
     
        .top-left-col{
    
            width: 350px;
            height: 300px;
            margin: 0;
    
            .activity-baseline{
               padding:12px;
                font-family: 'Open Sans', Arial, sans-serif;
                font-size: 25px;
                font-weight: $title-font-weight;
                color: $dark-color;
            }
    
        }
    
        .top-right-col{
    
            padding-top:3*$gutter;
            padding-left: 0rem;
            padding-right: 0rem;
            color:$dark-color;
            font-size: 18px;
            font-weight: 400;
            width: 90%;
            margin-left: 1rem;
    
    
            .mains-infos-zone {
                
                .activity-infos-details{
                    margin-bottom: $gutter;
    
                    .activity-price{
                        font-family: 'Open Sans', Arial, sans-serif;
                        margin-bottom: $gutter/2;
                        align-items: center;
                        display: flex;
                        
    
                     .activity-price-prefix{
                        display: block;
                        font-size: 16px;
                        line-height: 1.428571429;
                        
    
                     }
    
                
                     .activity-prices{
                        display: flex;
                        .activity-price-amount{
                            color: #ffae3b;
                            font-size: 24px;
                            line-height: 24px;
                            display: block;
                            white-space: nowrap;
                            padding-left: 10px;
    
                        }
    
                      .activity-price-based-on-nb-person{
                        font-size: 14px;
                        margin-top: 5px;
                        margin-left: 8px;
                        display: block;
    
                      }
                     }
    
                    }
    
                    .activity-type{
                        margin-bottom: $gutter/2;
                        
                                .type{
                                    font-weight: bold;
                                    
                                        }
                                    }
    
            .activity-location{
                margin-bottom: $gutter/2;
    
                        .location{
                            font-weight: bold;        
                                }
                        a {
                            color: #ffae3b;
                            font-weight: lighter;
                            cursor: pointer;
                            font-size: 14px;
                            &:hover {
                                text-decoration: underline;
               }
            
                                }
                            }
                       
                    
                .activity-duration{
    
                    margin-bottom: $gutter/2;
                    .duration{
                        font-weight: bold;
                    }
    
                }
    
                .activity-technical-level {
    
                    margin-bottom: $gutter;
                    .level{
                        font-weight: bolder;
                    }
    
                }
    
                .activity-date {
    
                    margin-bottom: $gutter/2;
    
                    .date{
                        font-weight: bolder;
                    }
                   
    
                }
    
                .button{
    
                    font-size: 16px;
                    padding: 10px 10px;
                    text-transform: none;
                    background: #ffae3b;
                    border: solid 1px #cfcfcf;
                    border-color: #ffae3b;
                    color: white;
                    width: 100%;
                    white-space: normal;
                    font-family: 'Open Sans', Arial, sans-serif;
                    font-weight: bold;
                   
                }
                }
            }
            
        }
        
    }

}

