@import 'src/styles/vars';

.login{
    width: 36%;
    margin: 10% 32%;

    .login-form-element {

      .login-title{
        text-align: center;
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 3rem;
        color:#08415C;
    }

    .field {
      .field-input {
        width: 100%;
        font-size: 1.5em;
        border: 1px solid #ced4da;
        border-radius: .3em;
        height: 2.5em;
        margin-bottom: 1rem;
        padding-left: 1rem;

        &:focus {
          border-color: #f17f42;
          color: #08415C;
        }
      }

      .field-label {
        display: none;
      }
    }

    .login-form-button {
      font-size: 1.5em;
      border-radius: .3em;
      border: 0;
      height: 2.5em;
      width: 30%;
      margin-left: 35%;
      margin-top: 1rem;
      font-weight: 700;
      color:#08415C;
    }
     
    }

    .login-redirect{

      margin-top: $gutter;
      text-align: center;
  
      .login-redirect-link{
          color: $primary-color;
  
          &:hover{
              color: $alt-color;
          }
      }

     
    }

     .login-failed{
    margin-top: 2rem;
    padding: $gutter/2;
    color: $dark-color;
    text-align: center;
    background-color: rgba(207, 95, 95, 0.479);

    .login-failed-erreurs{
        // text-align: left;
        padding: $gutter/4;
    }
    }

}


@media only screen and (max-width: 768px) {
  .login{
    width: 80%;
    margin: 10% 10%;

    .login-form-element {

      .login-title{
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 2rem;
        color:#08415C;
    }

    .field {
      .field-input {
        width: 100%;
        font-size: 1.5em;
        border: 1px solid #ced4da;
        border-radius: .3em;
        height: 2.5em;
        margin-bottom: 1rem;
        padding-left: 1rem;

        &:focus {
          border-color: #f17f42;
          color: #08415C;
        }
      }

      .field-label {
        display: none;
      }
    }

    .login-form-button {
      font-size: 1.5em;
      border-radius: .3em;
      border: 0;
      height: 2.5em;
      width: 50%;
      margin-left: 25%;
      margin-top: 1rem;
      font-weight: 700;
      color:#08415C;
    }
     
    }

    .login-redirect{

      margin-top: $gutter;
      text-align: center;
  
      .login-redirect-link{
          color: $primary-color;
  
          &:hover{
              color: $alt-color;
          }
      }

     
    }

     .login-failed{
    margin-top: 2rem;
    padding: $gutter/2;
    color: $dark-color;
    text-align: center;
    background-color: rgba(207, 95, 95, 0.479);

    .login-failed-erreurs{
        // text-align: left;
        padding: $gutter/4;
    }
    }

}
}