@import 'src/styles/vars';

.travel{
  width: 60%;
  margin: 3em auto;
  background-color: #fff;
}

@media only screen and (max-width: 768px) {

  .travel{
    width: 90%;
    margin: 2rem auto;
    background-color: #fff;
    display: block;

}
}

