@import 'src/styles/vars';
.destination{
    

    .destination-form{

        width: 500px;
        height: 100%;
        position: fixed;
        color: $dark-color;
        margin-top: 73px;

        .destination-form-input{
            margin: $gutter / 2;

            .destination-input-content{
                
                height: 45px;
                width: 100%;
                margin-bottom: 15px;
                border: 1px solid #ced4da;
                padding: 6px 12px;
                font-size: 14px;
                font-weight: 400;
            }
        }

        .destination-form-input-date{
            margin: $gutter / 2;  
            width: 100%;

            .date{
                display: flex ;  
                width: 100%;
                padding-right: $gutter;
                    
                .date1{
                    width: 50%;
                    .destination-input-content-datepicker{

                        height: 45px;
                        width: 100%;
                        margin-bottom: 15px ;
                        border: 1px solid #ced4da;
                        font-size: 14px;
                        font-weight: 400;
                        color: $dark-color;
                        
                    }

                }

                .date2{
                    width: 50% ;
                    .destination-input-content-datepicker{
                        height: 45px;
                        width: 100%;
                        margin-bottom: 15px ;
                        border: 1px solid #ced4da;
                        font-size: 14px;
                        font-weight: 400;
                        color: $dark-color;
                  
                    }

                }

                
            } 

            .destination-form-input-date-reset{
                display: flex;

                .reset-date-button{
                    margin:0.5rem;
                    border: #ced4da;
                    padding: 6px 12px;
                    font-size: 12px;
                    font-weight: 400;
                    color: $dark-color;
                    background-color: transparent;
                }
            }

            .destination-input-label{
                display: block;
            }


           
        }

        .destination-send{

            margin: $gutter/2 $gutter/2 0 $gutter/2;
            align-self: center;

            .destination-send-input{

                height: 45px;
                width: 100%;
                margin-bottom: 15px;
                border: 1px solid #ced4da;
                padding: 6px 12px;
                font-size: 14px;
                font-weight: 400;
            }

        }

        
        .reset_button{
            
            margin-bottom: 15px;
            position: relative;
            margin: auto;
            width: 50%;
            padding: 10px;
            text-align: center;

            button{
                height: 45px;
                border: 1px solid #ced4da;
                padding: 6px 12px;
                font-size: 14px;
                font-weight: 400;
                color: $dark-color;

            }
        }
    }

    .destination-container{
        background-color: white;
        margin-left: 500px;
        border-left: $gutter/2 solid $dark-color;
        padding-bottom: $gutter;
        padding-bottom: $gutter*23;

        .destination-title{
            text-align: center;
            padding-top: $gutter;
            font-size: $gutter;
        }

        .items-large-container{

            .items-large-cards{
                display: flex;
                height: 200px;
                margin: $gutter;
                background-color: white;
                box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
                border-radius: .28571429rem;
                color: $dark-color;
                .items-large-cards-img{
                    height: 100%;
                    width: 261px !important;
                }
    
                .items-large-cards-content{
                    width: 100%;
                    .items-large-cards-header{
                        text-align: center;
                        margin-top: $gutter;
                        font-size: $gutter;
                    }
    
                    .items-large-cards-sportprice{
                        margin-left: $gutter;
                        font-size: $gutter /1.3;
                        margin-right: $gutter;
                        margin-top: $gutter /2;
                        margin-bottom: $gutter /2;
                        display: flex;
                        justify-content: space-between;
                    }
    
                    .items-large-cards-meta{
                        margin-left: $gutter;
                        margin-top: $gutter /2;
                        margin-bottom: $gutter /2;
                    }
    
                    .items-large-cards-extra{
                        margin-left: $gutter;
                    }
                }
    
                .items-large-cards-more{
                    width: $gutter*6;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
    
                    .items-large-cards-more-favoris{
                        margin-bottom: $gutter;
                    }
                }
    
            }
        }

        .items-large-responsive{
            display: none;
        }
    }
}

@media only screen and (max-width: 1408px) {
    .destination{

        .destination-form{

            width: 100%;
            position: initial;
            color: $dark-color;
            margin-top: 0;
    
            .destination-form-input{
    
                margin: $gutter / 2;
    
                .destination-input-content{
    
                    height: 45px;
                    width: 100%;
                    margin-bottom: 15px;
                    border: 1px solid #ced4da;
                    padding: 6px 12px;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
    
            .destination-form-input-date{
                margin: $gutter / 2;
                display: flex;

                .date{
                    display: flex ;  
                    width: 100%;
                    padding-right: $gutter;
                             
                    .date1{
                        padding-right: $gutter;

                        .destination-input-content-datepicker{
    
                            height: 45px;
                            width: 100%;
                            margin-bottom: 15px ;
                            border: 1px solid #ced4da;
                            font-size: 14px;
                            font-weight: 400;
                            color: $dark-color;
                            
                        }
    
                    }
    
                    .date2{
                        .destination-input-content-datepicker{
                            height: 45px;
                            width: 100%;
                            margin-bottom: 15px ;
                            border: 1px solid #ced4da;
                            font-size: 14px;
                            font-weight: 400;
                            color: $dark-color;
                      
                        }
    
                    }
                    
                } 

               
                .destination-input-label{
                    display: block;
                }
    
                .destination-input-content{
    
                    height: 45px;
                    width: 50%;
                    margin-bottom: 15px;
                    border: 1px solid #ced4da;
                    padding: 6px 12px;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
    
            .destination-send{
    
                margin: $gutter/2 $gutter/2 0 $gutter/2;
                align-self: center;
    
                .destination-send-input{
    
                    height: 45px;
                    width: 100%;
                    margin-bottom: 15px;
                    border: 1px solid #ced4da;
                    padding: 6px 12px;
                    font-size: 14px;
                    font-weight: 400;
                }
    
            }
        }
    
        .destination-container{
            background-color: white;
            margin-left: 0;
            border-left: none;
            position: initial;
            padding-bottom: $gutter;
    
            .destination-title{
                text-align: center;
                padding-top: $gutter;
                font-size: $gutter;
            }

            .items-large-container{
                .items-large-cards{
                    display: flex;
                    height: 200px;
                    margin: $gutter;
                    background-color: white;
                    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
                    border-radius: .28571429rem;
                    color: $dark-color;
    
                    .items-large-cards-img{
                        height: 100%;
                        width: 261px !important;
                    }
        
                    .items-large-cards-content{
                        width: 100%;
                        .items-large-cards-header{
                            text-align: center;
                            margin-top: $gutter;
                            font-size: $gutter;
                        }
        
                        .items-large-cards-sportprice{
                            font-size: $gutter /1.3;
                            margin-left: $gutter;
                            margin-right: $gutter;
                            margin-top: $gutter /2;
                            margin-bottom: $gutter /2;
                            display: flex;
                            justify-content: space-between;
                        }
        
                        .items-large-cards-meta{
                            margin-left: $gutter;
                            margin-top: $gutter /2;
                            margin-bottom: $gutter /2;
                        }
        
                        .items-large-cards-extra{
                            margin-left: $gutter;
                        }
                    }
        
                    .items-large-cards-more{
                        width: $gutter*6;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
        
                        .items-large-cards-more-favoris{
                            margin-bottom: $gutter;
                        }
                    }
        
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .destination{
        .destination-form{

            width: 100%;
            position: initial;
            color: $dark-color;
            margin-top: 0;
    
            .destination-form-input{
    
                margin: $gutter / 2;
    
                .destination-input-content{
    
                    height: 45px;
                    width: 100%;
                    margin-bottom: 15px;
                    border: 1px solid #ced4da;
                    padding: 6px 12px;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
    
            .destination-form-input-date{
                margin: $gutter / 2;

                .date{
                    display: flex ;  
                    width: 100%;
                             
                    .date1{
       
                        width: 50%;
                        .destination-input-content-datepicker{
    
                            height: 45px;
                            width: 100%;
                            margin-bottom: 15px ;
                            border: 1px solid #ced4da;
                            font-size: 14px;
                            font-weight: 400;
                            color: $dark-color;
                            
                        }
    
                    }
    
                    .date2{
                        width: 50%;
                        .destination-input-content-datepicker{
                            height: 45px;
                            width: 100%;
                            margin-bottom: 15px ;
                            border: 1px solid #ced4da;
                            font-size: 14px;
                            font-weight: 400;
                            color: $dark-color;
                      
                        }
    
                    }
                    
                } 

               
    
                .destination-input-label{
                    display: block;
                }
    
                .destination-input-content{
    
                    height: 45px;
                    width: 50%;
                    margin-bottom: 15px;
                    border: 1px solid #ced4da;
                    padding: 6px 12px;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
    
            .destination-send{
    
                margin: $gutter/2 $gutter/2 0 $gutter/2;
                align-self: center;
    
                .destination-send-input{
    
                    height: 45px;
                    width: 100%;
                    margin-bottom: 15px;
                    border: 1px solid #ced4da;
                    padding: 6px 12px;
                    font-size: 14px;
                    font-weight: 400;
                }
    
            }
        }
    
        .destination-container{
    
            .destination-title{
                display: none;
            }

            .items-large-container{
                display: none;
            }

            .items-large-responsive{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                max-width: 0 auto;

                .card-total{

                    width: 350px;
                    margin: $gutter / 2;
        
                    .image{
                        
                        & img{
                            height: 181.266px;
                        }
                    }
            
                    .home-card-title{
                        font-size: $gutter /1.2;
                        text-align: center;
                        margin: $gutter / 2;
                    }
            
                    .home-card-info{
            
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: $gutter;
            
                        .home-card-activity{
                            font-size: $gutter /1.5;
                        }
            
                        .home-card-price{
                            font-size: $gutter /1.5;
                        }
                    }
            
                    .home-card-meta{
                        text-align: right;
                        margin-bottom: $gutter / 2;
                    }
            
                    .home-card-desciption{
                        text-align: left;
                        margin-bottom: $gutter / 2;
                    }
            
                    .home-card-rating{
                        text-align: right;
                    }
            
                    .home-card-extra{
                        text-align: center;
                    }
            
                    .card{
                        margin: $gutter / 2;
                    }
                }
            }
        }
    }
}