@import 'src/styles/vars';

.destinations{

  margin: $gutter;

    .filter-form{
        width: 25%;
        position: absolute;

        .filter-form-input-category{
            // margin:$gutter / 8;
        }

        .filter-form-input-destination{
          margin-top:$gutter / 8;
        }

        .filter-form-input-date{
            margin-top: $gutter / 8;           
          }

        .filter-form-button{
            margin-top:$gutter / 8;
        }
        
    }

    .travels {
        margin-left: 25%;  
        
        .travels-small {
          display: block;

          .ui{
              &.card{
                width: 90%;
                display: flex;
                margin-left: $gutter;
                // height: 8*$gutter;

                .travel-carousel{
                  width: 30%;
                  // height: 100%;
                  position: absolute;
                }

                .travel-small {
                        margin-left: 30%;  
                        .travel-small-content {
                          padding: 3rem;
                  
                          h2 {
                            font-weight: bold;
                            font-size: 1.2em;
                          }
                  
                          p {
                            margin-top: 0.3em;
                            margin-bottom: 0.3em;
                          }
                  
                          a {
                            color: $mainColor;
                            cursor: pointer;
                            &:hover {
                              text-decoration: underline;
                            }
                          }
                        }
                  
                        &.travel-small--favorite {
                          border-color: $mainColor;
                        }
                      }
              }
              
            }
     
        }
      }
}