@import 'src/styles/vars';

.home{
  width: 80%;
  margin-left: 10%;
  .form{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;

   .filter-form{
      display: flex;
      justify-content: space-between;
                
        .filter-form-input-category{
            width: 25%;
        }

        .filter-form-input-destination{
            width: 30%;
        }

        .filter-form-input-date{
            width: 20%;           
          }

        .filter-form-button{
            width: 18%;
        }
        
    } 
  }
  
  .travels {
      margin: $gutter;
      .travels-small {
          display: flex;
          flex-flow: wrap;
          justify-content: center;
          .ui{
            &.card{
              width: 300px;
              margin: 2rem;
              border-radius: 1rem;
              overflow: hidden; 
              display: flex;
              flex-direction: column;
              justify-content: space-between;  
            }
          }
         
        }
      }
}

@media (max-width: 768px) {
  .home{
    width: 96%;
    margin-left: 2%;
    margin-top: 2%;
    .form{
      width: 100%;
      margin-top: 0%;
      margin-left: 0%;
  
     .filter-form{
        display: block;
        justify-content: center;
                  
          .filter-form-input-category{
              width: 100%;
          }
  
          .filter-form-input-destination{
              width: 100%;
          }
  
          .filter-form-input-date{
              width: 100%;           
            }
  
          .filter-form-button{
              width: 100%;
          }
          
      } 
    }
    
      .travels {
        margin: 0rem;
          .travels-small {
            display: flex;
            flex-flow: wrap;
            justify-content: center;
            .ui{
              &.card{
                width: 100%;
                margin: 1rem 0rem;
                border-radius: 1rem;
              // overflow: hidden;   
              .travel-small {
              
              // border: 1px solid #CCC;
                 
              // .travel-small-content {
              //   padding: 1rem;
        
              //   h2 {
              //     font-weight: bold;
              //     font-size: 1.2em;
              //   }
        
              //   p {
              //     margin-top: 0.3em;
              //     margin-bottom: 0.3em;
              //   }
  
              //   .activity-location {
              //     .activity-location{
              //     }
              //   }
        
              //   a {
              //     color: $mainColor;
              //     cursor: pointer;
              //      &:hover {
              //        text-decoration: underline;
              //      }
              //   }
              // }
        
              &.travel-small--favorite {
                border-color: $mainColor;
              }
            }
              }
            }
        
        
          }
        }
  } 
}