@import 'src/styles/vars';

.home{
  width: 80%;
  margin-left: 10%;
  .form{
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;

   .filter-form{
      display: flex;
      justify-content: space-between;
                
        .filter-form-input-category{
            width: 25%;
            height: 3rem;
        }

        .filter-form-input-destination{
            width: 30%;
        }

        .filter-form-input-date{
            width: 20%;           
          }

        .filter-form-button{
            width: 18%;
        }
        
    } 
  }
  

    .travels {
      margin: $gutter;
        .travels-small {
          display: flex;
          flex-flow: wrap;
          justify-content: center;
          .ui{
            &.card{
              width: 300px;
              margin: 2rem;
              border-radius: 1rem;
            overflow: hidden;   
            .travel-small {
            
            // border: 1px solid #CCC;
               
            // .travel-small-content {
            //   padding: 1rem;
      
            //   h2 {
            //     font-weight: bold;
            //     font-size: 1.2em;
            //   }
      
            //   p {
            //     margin-top: 0.3em;
            //     margin-bottom: 0.3em;
            //   }

            //   .activity-location {
            //     .activity-location{
            //     }
            //   }
      
            //   a {
            //     color: $mainColor;
            //     cursor: pointer;
            //      &:hover {
            //        text-decoration: underline;
            //      }
            //   }
            // }
      
            &.travel-small--favorite {
              border-color: $mainColor;
            }
          }
            }
          }
      
      
        }
      }
}