@import 'src/styles/vars';

.footer{
    display: flex;
    align-items: center;
    background-color: $dark-color;
    color: $light-color;
    justify-content: space-between;

    .footer-logo{
        width: 8%;
        margin: 0.8rem; 
        .logo{
            width: 100%;
            border-radius: 10px;
            opacity: 0.9;  
        }
    }

    .footer-navigation{
        // position: absolute;
        margin-right: 2rem;
        
        .footer-link{
            margin-left: $gutter / 2;

            &:hover{
                color: $alt-color;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .footer{
        display: flex;
        align-items: center;
        background-color: $dark-color;
        color: $light-color;
        justify-content: space-between;
    
        .footer-logo{
            width: 8%;
            margin: 0.8rem; 
            .logo{
                width: 100%;
                border-radius: 10px;
                opacity: 0.9;  
            }
        }
    
        .footer-navigation{
            // position: absolute;
            margin-right: 2rem;
            
            .footer-link{
                margin-left: $gutter / 2;
    
                &:hover{
                    color: $alt-color;
                }
            }
        }
    }
}