@import 'src/styles/vars';
.register{
    margin:5rem 20%;
    width: 60%;
    color: $dark-color;

    .register-title{
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: $gutter;
        padding-bottom: $gutter / 2;
        text-align: center;
    }

    .register-description{
        font-size: 1.5rem;
        padding: $gutter / 2;
        margin-bottom: $gutter;
        font-weight: 700;
    }



    .ReCAPTCHA{

        display: block;

        .register-send-input{
            order: 1;
            width: 100%;
            margin: 5px;
            height: 45px;
            margin-top: 15px;
            padding: 6px 12px;
            font-size: 14px;
            font-weight: 400;
        }
    }

    .register-send-ok{
        margin-top: $gutter / 2;
        width: 100%;
        background-color: rgba(40, 163, 40, 0.479);
        text-align: center;
        border-radius: 5px;

        & p{
            padding: 15px;
        }
    }

    .register-send-nop{
        margin-top: $gutter / 2;
        width: 100%;
        background-color: rgba(207, 95, 95, 0.479);
        text-align: center;
        border-radius: 5px;

        & p{
            padding: 15px;
        }
    }

    .register-form{

        margin: 2px;

        .register-input{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .register-input-div{
                padding-bottom: $gutter / 3;
                width: 48%;
                .register-input-content{
                    height: 45px;
                    width: 100%;
                    margin-bottom: 15px;
                    border: 1px solid #ced4da;
                    padding: 6px 12px;
                    font-size: 14px;
                    font-weight: 400;
                }
            }

            .register-input-email{
                padding-bottom: $gutter / 3;
                width: 100%;
                .register-input-content{
                    height: 45px;
                    width: 100%;
                    margin-bottom: 15px;
                    border: 1px solid #ced4da;
                    padding: 6px 12px;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }

    .register-redirect{

        margin-top: $gutter;
        text-align: center;

        .register-redirect-link{
            color: $primary-color;

            &:hover{
                color: $alt-color;
            }
        }
    }

    .register-redirect-ok{
        margin-top: $gutter;
        padding: $gutter;
        color: $dark-color;
        text-align: center;
        background-color: rgba(40, 163, 40, 0.479);

        .register-redirect-link{
            color: $primary-color;

            &:hover{
                color: $alt-color;
            }
        }
    }

    .register-redirect-nop{
        width: 500px;
        margin: $gutter auto;
        padding: $gutter;
        color: $dark-color;
        text-align: center;
        background-color: rgba(207, 95, 95, 0.479);

        .register-redirect-nop-ul{
            text-align: left;
            padding: $gutter/2;
        }
    }

}

@media (max-width: 768px) {
    .register{
        margin: 3rem auto;
        width: 90%;
        text-align: center;

        .ReCAPTCHA{

            // .ReCAPTCHA > div > div >{
            //     display: flex;
            //     place-content: center;
            //     width: 200px;
            //     transform:scale(0.5);
            //     transform-origin:0 0;
            // }

            .register-send-input{
                width: 100%;
                margin: 5px;
                height: 45px;
                margin-top: 15px;
                padding: 6px 12px;
                font-size: 14px;
                font-weight: 400;
            }
        }

        .register-form{


            .register-input{
                display: block;

                .register-input-div{
                    width: 100%;
                }
            }
        }

        .register-redirect-nop{
            width: 100%;
            margin: $gutter auto;
            padding: $gutter;
            color: $dark-color;
            text-align: center;
            background-color: rgba(207, 95, 95, 0.479);
    
            .register-redirect-nop-ul{
                text-align: left;
                padding: $gutter/2;
            }
        }
    }   
}